# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular Languages for DataScience
- List Popular Libraries
- Create and display DS Tools in table format
- Show Arithmetic code execution by code cell

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. MatPlotLib
2. Scipy
3. Numpy

|Data Science Tools  |
|--------------------|
|Jupyter Notebooks   |
|RStudio             |
|Spyder              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

## Author
Amber